@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* USE IN CSS */
  .animated {
    @apply ease-in-out duration-500 transition;
  }
  /* USE IN HTML */
  .container {
    @apply w-full sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] px-4 mx-auto;
  }
  .banner {
    @apply bg-cover bg-no-repeat bg-center;
  }
  .nav-item {
    @apply uppercase font-medium mx-2 py-3 md:mx-4 md:py-5 hover:text-rose-600 hover:transition-colors hover:duration-500;
  }
  .footer-item {
    @apply uppercase font-medium p-1 md:px-4 text-gray-500 hover:text-black hover:transition-colors hover:duration-500;
  }
  .footer-social {
    @apply md:w-10 md:h-10 w-8 h-8 p-2 md:mx-2 mx-1 md:text-xl text-lg flex justify-center items-center rounded-full bg-stone-300 hover:bg-neutral-800 hover:text-stone-300 transition duration-500;
  }
  .small-menu {
    @apply absolute w-0 top-0 left-0 z-50 bg-white shadow-lg transition-all duration-700;
  }
  .section-title span {
    @apply block uppercase text-base font-bold text-rose-600 font-mono;
  }
  .section-title h2 {
    @apply relative w-fit capitalize text-4xl pb-2 font-extrabold tracking-widest section_title_underline;
  }
  .section-body {
    @apply mt-10;
  }
  /* BUTTON */
  .btn {
    @apply px-4 py-2 rounded-md border-2 border-rose-500 tracking-wider transition-colors duration-500 uppercase font-semibold;
  }
  .btn-rose {
    @apply text-white bg-rose-600 hover:text-rose-600 hover:bg-transparent;
  }
  .btn-transparent {
    @apply text-rose-600 bg-transparent hover:text-white hover:bg-rose-600;
  }
  .product-item {
    @apply rounded cursor-pointer relative overflow-hidden shadow-lg hover:-translate-y-3 transition-transform duration-500;
  }
  .item:hover .overly {
    @apply opacity-100 bottom-20;
  }
  .bottom-top-overly {
    @apply absolute opacity-0 bottom-0 left-1/2 -translate-x-1/2 transition-all duration-500;
  }
  .item:hover .img-div {
    @apply border-t-2 border-l-2 border-r-2 border-rose-600;
  }
  .item:hover h2 {
    @apply opacity-80;
  }
}

@layer base {
  a {
    @apply inline-block;
  }
  body {
    @apply inter_family text-neutral-800 text-sm;
  }
}

@layer utilities {
  .inter_family {
    font-family: "Inter", sans-serif;
  }
  .writing_r {
    writing-mode: vertical-lr;
    text-orientation: upright;
  }
  .section_title_underline::before {
    bottom: -5%;
    width: 75%;
    content: "";
    right: -7.5%;
    height: 0.3rem;
    position: absolute;
    background-color: red;
    transition: width 0.5s ease-in-out;
  }
  .section_title_underline:hover::before {
    width: 100%;
    transition: width 0.5s ease-in-out;
  }
}
